client/node_modules/*

blockchain/bin
blockchain/pkg
blockchain/src/github.com
blockchain/src/golang.org
blockchain/src/gopkg.in

*.log
.DS_Store

bin/configtxgen
bin/cryptogen

/.project

*/.tscache/*
*/dist/*
**/.baseDir.ts

server/resources
server/package-lock.json
server/node_modules/*
server/tscommand*

.vscode/*
*/.vscode/*
