client/node_modules/*
server/node_modules/*
blockchain/bin
blockchain/pkg
*.log
.DS_Store

bin/configtxgen
bin/cryptogen

/.project

*/.tscache/*
*/dist/*
**/.baseDir.ts

/server/resources

.vscode/*
*/.vscode/*

blockchain/src/github.com
blockchain/src/golang.org
blockchain/src/gopkg.in
