<!--<div class="input-field col s12">
    <label for="eMail">eMail</label>
    <input id="eMail" type="text" autocomplete="off" class="validate filter-input" [(ngModel)]=query (keyup)=filter()>
</div>
<div class="collection" *ngIf="filteredList.length > 0">
    <a *ngFor="let item of filteredList" class="collection-item" (click)="select(item)">{{item}}</a>
</div>-->

<div class="row">
    <div class="input-field col s10">
        <input type="text" id="email" [(ngModel)]=query (keyup)=filter() placeholder="delegate@email.com" autocomplete="off">
        <label class="active" for="email">eMail: </label>
    </div>
    <div *ngIf="filteredList.length > 0">
        <ul id="emails" class="dropdown-content">
            <li *ngFor="let item of filteredList"><a href="#!" (click)="select(item)">{{item}}</a></li>
        </ul>
    </div>
</div>