<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <b>{{title}}</b>
      </div>
    </div>
   <button class="btn btn-success navbar-btn" routerLink="/dashboard">My Dashboard</button>
    <button class="btn btn-success navbar-btn" routerLink="/create">Create poll</button>
    <button class="btn btn-success navbar-btn" routerLink="/register">Register</button>
  </div>
</nav>
<br />
<app-alert></app-alert>
<router-outlet></router-outlet>

