<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <b>{{title}}</b>
      </div>
    </div>
    <button *ngIf="currentUser" class="btn btn-success navbar-btn" routerLink="/dashboard">My Dashboard</button>
    <button *ngIf="currentUser" class="btn btn-success navbar-btn" routerLink="/create">Create poll</button>
    <button *ngIf="currentUser" class="btn btn-success navbar-btn" routerLink="/register">Register</button>
    <div class="pull-right">
      <p *ngIf="currentUser">Logged in as {{currentUser.surname}} {{currentUser.lastname}}</p>
      <!--<a *ngIf="currentUser" (click)="logout()" class="btn btn-link">Logout</a>-->
    </div>
  </div>
</nav>
<br />
<app-alert></app-alert>
<router-outlet></router-outlet>

