

<div class="section">
  <div class="row">
      <div class="col s12 m3"></div>
      <form class="col s12 m6" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="row">
          <div class="input-field col s6">
            <input id="surname" type="text" name="surname" [(ngModel)]="user.surname" class="validate">
            <label for="surname">Surname</label>
          </div>
          <div class="input-field col s6">
            <input id="lastname" type="text" name="lastname" [(ngModel)]="user.lastname" class="validate">
            <label for="lastname">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" name="email" [(ngModel)]="user.email" #email="ngModel" class="validate" required>
            <label for="email">email</label>
            <div *ngIf="f.submitted && !email.valid" class="help-block">email is required</div>
          </div>
        </div>
        <div class="row">
          <a [routerLink]="['/login']" class="btn blue">Login</a>
          <button [disabled]="loading" class="btn waves-effect waves-light right" type="submit" name="action">Register
              <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
  </div>
</div>
