<div class="container">
  <div class= "row">
    <h3>Delegate vote</h3>

    <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
         <div class="col-xs-6 col-sm-3">
           <app-autocomplete></app-autocomplete>
         </div>
        <div class="col-xs-6 col-sm-3">
          <button type="submit" class="btn btn-primary">delegate</button>
        </div>
      </div>
    </form>
  </div>

  

</div>
<router-outlet></router-outlet>
