<div class="container">
<div class= "row">
  <h3>Delegate vote</h3>

  <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form-group">
    <label for="input-delegate-name" class="col-sm-2 control-label">Delegate email</label>
    <div class="col-sm-10">
      <input name="delegateemail" class="form-control" id="input-delegate-name" placeholder="you@example.com" ngModel required #name="ngModel">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Set delegate</button>
    </div>
  </div>
</form>
</div>
</div>
<router-outlet></router-outlet>
