<div class="section">
  <div class="row">
    <div class="col s12 m3"></div>
    <form *ngIf="poll" materialize class="col s12 m6" (ngSubmit)="submit()">
      <div class="row">
        <div *ngFor="let option of poll.options">
          <input [name]="option.id" type="radio" [id]="option.id" [(ngModel)]="selection" [value]="option">
          <label [for]="option.id">{{option.description}}</label>
        </div>
      </div>
      <div class="row">
        <a [routerLink]="['/dashboard']" class="btn blue">Cancel</a>
        <button class="btn waves-effect waves-light right" type="submit">Vote
            <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>