<div class="container">
  <div class= "row">
    <h3>Create a poll</h3>

    <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="input-poll-name" class="col-sm-2 control-label">Poll name</label>
        <div class="col-sm-10">
          <input name="name" class="form-control" id="input-poll-name" placeholder="Poll name" ngModel required>
        </div>
      </div>
      <div class="form-group">
        <label for="input-description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input name="description" class="form-control" ngModel id="input-description" placeholder="Description">
        </div>
      </div>
      <div class="form-group">
        <label for="input-poll-from" class="col-sm-2 control-label">From</label>
        <div class="col-sm-10">
          <input name="validfrom" class="form-control" ngModel id="input-poll-from" placeholder="From">
        </div>
      </div>
      <div class="form-group">
        <label for="input-poll-till" class="col-sm-2 control-label">Till</label>
        <div class="col-sm-10">
          <input name="validto" class="form-control" ngModel id="input-poll-till" placeholder="Till">
        </div>
      </div>
      <div class="form-group">
        <label for="input-poll-options" class="col-sm-2 control-label">Options</label>
        <div class="col-sm-10">
          <input name="options" class="form-control" ngModel id="input-poll-options" placeholder="Options1;Option2;Option3">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Create poll</button>
          <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
