
<div class="section">
  <div class="row">
      <div class="col s12 m3"></div>
      <form class="col s12 m6" name="form" (ngSubmit)="f.form.valid && createPoll()" #f="ngForm" novalidate>
         <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" name="name" [(ngModel)]="model.name" #name="ngModel" class="validate" required>
            <label for="name">Poll name</label>
            <div *ngIf="f.submitted && !name.valid" class="help-block">Poll name is required</div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="description" type="text" name="description" [(ngModel)]="model.description" class="validate" required>
            <label for="description">Description</label>
          </div>
        </div>
        <div class="row">
          <date-picker></date-picker>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="options" type="text" name="options" [(ngModel)]="model.options" #options="ngModel" class="validate" required>
            <label for="options">Options</label>
            <div *ngIf="f.submitted && !options.valid" class="help-block">Options are required</div>
          </div>
        </div>
        <div class="row">
          <a [routerLink]="['/dashboard']" class="btn blue">Cancel</a>
          <button class="btn waves-effect waves-light right" type="submit">Create Poll
              <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
  </div>
</div>
