<div class="container">
  <div class="row">
    <div *ngIf="poll">
      <h3>Poll</h3>
      <h4>{{poll.name}}</h4>
      <div  class="col-sm-10">
        <label for="poll-id" class="control-label">Poll ID</label>
        <span>{{poll.id}}</span><br>
        <button class="btn btn-success" (click)="goToVote(poll)">go to vote</button>
        <button class="btn btn-primary" (click)="setDelegate()">set delegate</button><br><br>
        <label for="poll-description" class="control-label">Description</label>
        <span>{{poll.description}}</span><br>
        <label for="poll-options" class="control-label">Poll options</label>
        <li *ngFor="let option of poll.options">
          <div class="label offset1 label-info">{{option.description}}</div>
        </li>
        <label for="poll-votes" class="control-label">Poll votes</label>
        <li *ngFor="let vote of poll.votes">
          <div class="label label-default">{{vote.timestamp}} {{vote.voter}}
            <span class="label offset1 label-info">{{vote.option.description}}</span>
          </div>
        </li>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-default" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
